<p>
  <b>Name:</b>
  <%=h @carrier.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @carrier.url %>
</p>

<p>
  <b>Tracking url:</b>
  <%=h @carrier.tracking_url %>
</p>


<%= link_to 'Edit', edit_carrier_path(@carrier) %> |
<%= link_to 'Back', carriers_path %>
