<div id="tour_top" class="box full_span">
  <h2>Homeschool Apple Will Be Back Soon</h2>
  <div id="tour_top_content" class="box_interior">
   <p class="promote">Easy to Buy. Easy to Sell. Coming Soon.</p>
   <p>Homeschool Apple is currently working on Homeschool Apple Version 2.0. Check out what we have in store for you!</p>
  <ul class="list normal bump_down">
    <li>Convenient shopping cart checkout</li>
    <li>No re-posting over and over</li>
    <li>No crazy listing fees</li>
    <li>We protect buyers AND sellers</li>
    <li>And much, much more!</li>
    <!--><li>Network with other homeschoolers*</li>
    <li>Free give-aways frequently!</li>-->
  </ul>
  
    
  </div>
  
</div>

<div id="tour_features" class="box full_span">
  <h2>The Homeschool Apple Highlights</h2>
  <div id="tour_features_content" class="box_interior">
    <ul>
      <li>
        <%= image_tag 'tour/feat_shop.jpg', :class=>"feature" %>
        <div class="feature">
          <h3>SHOP WITH EASE!</h3>
          <p>Find items easily with our search and browse features. Or search by homeschool method or by the literature-based program you are trying to complete!</p>
        </div>
        <p class="clear_fix">&nbsp;</p>
      </li>
      <!-->
      <li>
        <%= image_tag 'tour/feat_wishlist.jpg', :class=>"feature" %>
        <div class="feature">
          <h3>ASK FOR WHAT YOU WANT!</h3>
          <p>If you don’t find what you’re looking for, enter it on to your personal wishlist and let us notify you when it is available! (Coming very soon)</p>
        </div>
        <p class="clear_fix">&nbsp;</p>
      </li>
      -->
      <li>
        <%= image_tag 'tour/feat_secure.jpg', :class=>"feature" %>
        <div class="feature">
          <h3>SECURITY AND CONFIDENCE!</h3>
          <p>We collect the funds at the time of purchase, protecting the seller. We hold the funds until the item ships, protecting the buyer! Seller feedback ensures reliability!</p>
        </div>
        <p class="clear_fix">&nbsp;</p>
      </li>
      <li>
        <%= image_tag 'tour/feat_free.jpg', :class=>"feature" %>
        <div class="feature">
          <h3>NO RISK SELLING!</h3>
          <p>You won’t find an easier, more sensible way to price, sell, and keep the profits from your sales! No listing fees, image fees, final value fees, or any of that nonsense! Sell your items for just 99-cents! And if it doesn't sell, you don't pay!</p>
        </div>
        <p class="clear_fix">&nbsp;</p>
      </li>
      <li>
        <%= image_tag 'tour/feat_ppd.jpg', :class=>"feature" %>
        <div class="feature">
          <h3>NO ADDED SHIPPING FEES!</h3>
          <p>All items are listed as POSTAGE PAID! We help our sellers make smart pricing decisions, so you never have to worry about how much more it will cost to get that package to your door. What you see is what you pay. Period.</p>
        </div>
        <p class="clear_fix">&nbsp;</p>
      </li>
      <!-->
      <li>
        <%= image_tag 'tour/feat_keyboard.jpg', :class=>"feature" %>
        <div class="feature">
          <h3>SHARE YOUR TALENTS AND BECOME A VIRTUAL PUBLISHER!</h3>
          <p>COMING SOON! Create your own custom curriculum and let us market and sell it for you in our storefront for next-to-nothing!</p>
        </div>
        <p class="clear_fix">&nbsp;</p>
      </li>
      -->
      <li>
        <%= image_tag 'tour/feat_box.jpg', :class=>"feature" %>
        <div class="feature">
          <h3>OPEN YOUR OWN ONLINE BUSINESS!</h3>
          <p>Let HSA market your small-business inventory in our storefront to the larger homeschool market! We handle transactions, you ship the products! Then, we send you money! What could be simpler? Special services for publishers, including bulk product upload, are available!</p>
        </div>
        <p class="clear_fix">&nbsp;</p>
      </li>
      <!-- >
      <li>
        <%= image_tag 'tour/feat_peeps.jpg', :class=>"feature" %>
        <div class="feature">
          <h3>MORE INNOVATIVE FEATURES COMING SOON!</h3>
          <p>Unique online social network, forums, reviews, advertise your products with HSA badges, and MUCH MORE!</p>
        </div>
        <p class="clear_fix">&nbsp;</p>
      </li>
      -->
      <!-->
      <li>
        <%= image_tag 'tour/feat_giveaway.jpg', :class=>"feature" %>
        <div class="feature">
          <h3>FREE GIVE-AWAYS!</h3>
          <p>We love to give stuff away!!! So far, we have given away several prizes, including $50 gift cards, to folks who have participated in our contests. Participation is always super-easy and best of all - FREE! Our next give-away is coming soon, so keep checking back!</p>
        </div>
        <p class="clear_fix">&nbsp;</p>
      </li>
      -->
    </ul>
    
  </div>
</div>
