<%= error_messages_for 'order' %>
<div id="order_products" class="box full_span">
	<%#= render :partial => '/shared/cart_expires' %>
  <h2>Your Cart</h2>
  <div id="order_products_content" class="box_interior">
    <% if @cart.empty? %>
     <p>Your cart is empty.</p>
    <% else %>
      <table>
				<% @cart.line_items.each do |line_item| %>
				<tr id="<%= dom_id(line_item.product) -%>" class="row_item <%= cycle("odd", "even")-%>">
				  <%= render :partial => "shared/product_listing", :locals => {:product => line_item.product} %>
				    <td><p class="product_price"><%=line_item.price.format%></p></td>
				    <td><p class="details button"><%=line_item.quantity%> ordered</p></td>
				</tr>
				<% end %>
      </table>
    <% end %>
  </div>
	<h2 class="text_right" id="cart_total">
	  <table id="checkout_totals">
			<tr><td>Subtotal</td><td><%= @cart.sub_total.format %></td></tr>
			<tr><td>Shipping</td><td>Included</td></tr>
			<!-- ><tr><td>Processing</td><td><%= @cart.transaction_fee.format %></td></tr>-->
		</table><br clear="right"/>
		Total <%= @cart.total_price.format %>
	</h2>
</div>
<!-->
<div id="checkout_disclaimer">
  <p class="details">The small processing fee allows us to secure the transaction and provide the best possible experience for both buyer and seller.</p>
</div>
-->
<!-->
<% form_tag APP_CONFIG[:paypal_url] do %>
	<%=hidden_field_tag :cmd, "_s-xclick" %>
	<%=hidden_field_tag :encrypted, 
				@cart.paypal_encrypted(
					complete_order_url(@cart), 
					payment_notifications_url(
						:host => APP_CONFIG[:paypal_notify_host],
						:protocol => APP_CONFIG[:paypal_notify_protocol],
						:secret => APP_CONFIG[:paypal_secret]
					)
				) %>	
	<div id="pay_pal_button" class="form_submit text_right">
	  <%= image_submit_tag 'paypal_checkout.gif'%>
	</div>	
<% end %>
-->
<div id="empty_cart_link">
  <%= link_to_remote "Empty my cart", :url => order_url(:id => 0), :method => :delete %> <%= link_to "Go back", :back, :class=> "bump_right" %>
</div>


