<h3>The Homeschool Apple Community</h3>
<div class="user_form">
  <div class="form_left">
   <% if @members.empty? && @initial.nil? %>
    <p>Be the first to <%= link_to "become a member", new_member_path %> of the Schoolade community!</p> 
  <% elsif @members.empty? %>
    <p>There are no members matching that criteria.  View <%= link_to "all of our members", {:action => "index", :id => nil} %> with public profiles.</p>
  <% else %>
    <ul class="listing">
        <% reset_cycle %>
        <% @members.each do |member| %>
          <li id="<%= dom_id(member) -%>" class="<%= cycle("odd", "even")%>">
            <%= render :partial => "member", :object => member %>
          </li>
        <% end %>
    </ul>
  <% end %>

  </div>

</div>