<div class="account_type_form">
  <div class="form_left">
    
    <h4>Basic Information</h4>
    <p><label for="account_type_name">Name</label><br/>
          <%= form.text_field :name %></p>
    <p><label for="account_type_description">Description</label><br/>
          <%= form.text_field :description %></p>
    <p><label for="account_type_price">Current Price</label><br/>
      $<%= text_field_tag "price", @account_type.price %></p>
    <p><label for="account_type_max_products">Maximum Products</label><br/>
          <%= form.text_field :max_products %></p>
    <p><label for="account_type_private_storefront">Private Storefront Available</label><br/>
          <%= form.check_box :private_storefront %></p>
    <p><label for="account_type_commission">Commission</label><br/>
          <%= form.text_field :commission %> %</p>  
    <p><label for="account_type_flat_fee">Flat Fee</label><br/>
          $<%= text_field_tag "flat_fee", @account_type.flat_fee %></p>
          
    <p><label for="account_type_enabled">Account Enabled?</label><br/>
        <%= form.check_box :enabled %></p>  
    <p><label for="account_type_allow_signup">Allow Users to Signup?</label><br/>
        <%= form.check_box :allow_signup %></p>   
        <p><label for="account_type_pricing_tbd">Is Pricing Set?</label><br/>
            <%= form.check_box :pricing_tbd %></p>
  </div>  
  
  <h4>Account Features</h4>
  <ul>
    <% AccountFeature.find(:all, :order =>"position ASC").each do |feat| %>
      <li><%= check_box_tag("account_type[account_feature_ids][]", feat.id, @account_type.account_features.include?(feat))%> <%= feat.description %></li>
    <% end %>
  </ul>
</div>