<div id="contact_header" class="box full_span">
  <h2>Contact</h2>
  <div id="contact_header_content" class="box_interior space_out">
    <p>If you have any questions, comments or concerns about Homeschool Apple, you'll find us at:</p>
    
    <div class="interior_half left">
    
    <h3>Homeschool Apple</h3>
    <p>300 Riverton Rd.<br/>
      Matthews, NC 28104</p>
    <p><%= link_to "http://homeschoolapple.com" %><br/>
    <%= mail_to APP_CONFIG[:support_email] %><br/>
    Twitter: <%= link_to "@homeschoolapple", "http://twitter.com/homeschoolapple"%></p>
    </div>
    
    <div class="interior_half right">    
    <h3>Netphase, LLC</h3>
    <p>9330 Autumn Applause<br/>
      Charlotte, NC 28277</p>
      <p><%= link_to "http://netphase.com" %><br/>
      <%= mail_to APP_CONFIG[:admin_email]%><br/>
      Twitter: <%= link_to "@netphase", "http://twitter.com/netphase"%></p>
      <p>877-799-RUBY</p>
      
      </div>
      
      <div class="clear_fix">&nbsp;</div>
  </div>
</div>