<div id="faq_header" >
  <h2>Frequently Asked Questions</h2>
  <div id="faq_header_content" class="box_interior space_out">
    <dl>
    <dt><%= link_to_function "How is Homeschool Apple different from other sites that allow you to buy and sell new and used products?", "$('how_different').toggle()"%></dt>
      <div id="how_different" class="faq_answer" style="display:none;">

        <dd>We have created Homeschool Apple to be a full-featured, high-end web-based storefront catering to JUST the homeschool market.  We have also developed a transaction model that is profitable for the seller, allows the buyer to save money on shipping, and provides a protected, secure transaction for both parties.  How this works is we act as a middle man in each transaction and temporarily hold the funds at the time of purchase until the seller notifies us that they have shipped the product.  Because of this model we are able to offer a 'buyer's guarantee' to ensure that if for some reason the seller fails to ship the product, the buyer's purchase price is refunded.  </dd>

        <dd>We are also low-cost. You have full access to all of our services with just a FREE account. You can try our full-featured listing service for absolutely free! There are no limits to the number of items you can list, sell and get paid for!</dd>

        <dd>We don't charge any extraneous hidden fees.  There are no listing fees, final value fees, or image upload fees. The big conglomerate sites that aren't homeschool specific make it so it's barely cost-effective to use their services because of all the arbitrary fees they charge.  The seller is forced to charge more for their products for very little profit, and the buyer pays more.  By charging next-to-nothing, we allow the seller to price their products lower, including shipping for the buyers' convenience.</dd>
        <dd>We charge just 99 cents to sell products on Homeschool Apple. If your product doesn't sell, you don't pay. It's really as simple as that.</p>
        <dd>Once your item sells and you ship the item, we send the proceeds of the sale, which is the selling cost, minus the standard PayPal fees and the 99-cent charge just mentioned, directly to you via check or electronically (your choice).</dd>
        <dd>Need an example? Let's say you sell a full curriculum set for $149. The PayPal fees, whether you sold it here, eBay, or on your own, would be $4.82. Our fee is $.99. That means we will be sending $143.94 directly to you!</dd>
        <dd>Now let's compare this with a service like eBay. First off, eBay does not allow you to sell many teacher's curriculum items. So, assuming that this item can be sold there, here are the typical fees: $2.00 per category for listing, approximately $6.53 for the final value fee, plus the same $4.82 for PayPal. Not to mention additional fees that may be added if you choose to upgrade your listing with special highlighting, multiple categories, Buy-it-Now pricing, etc. As you can see, the costs can quickly add up.</dd>
        <dd>The bottom line is that there is no more cost-efficient, secure, and convenient way to sell your item than to use Homeschool Apple.</dd>
      </div>
        <dt><%= link_to_function "Are there any additional charges for listing features like multiple images or description length?", "$('add_charges').toggle()"%></dt>
          <div id="add_charges" class="faq_answer" style="display:none;">
        <dd>NO!</dd>
        </div>


        <dt><%= link_to_function "Will I be allowed to contact the seller to ask for more information on a product?", "$('contact_seller').toggle()"%></dt>
          <div id="contact_seller" class="faq_answer" style="display:none;">

        <dd>Yes! This site is designed to allow the buyers to make the utmost informed purchase decision.   We allow sellers to upload multiple images to reflect any condition comments, and we provide capability for entering lengthy descriptions as well.  If this still leaves a buyer with questions for a seller, we have a blind email link in place to provide communication securely and privately.</dd>
        </div>

        <dt><%= link_to_function "Does Homeschool Apple guarantee product satisfaction or allow for returns?", "$('guarantee').toggle()"%></dt>
          <div id="guarantee" class="faq_answer" style="display:none;">

        <dd>First off, if you buy something from Homeschool Apple and do not receive it in a timely fashion, we will cancel the sale and refund your money pronto. We don't pay the seller until the item ships, so this is really never a problem. </dd>
        <dd>However, if you receive your item but are unsatisfied with the purchase because you feel that the product was misrepresented in the description or is otherwise incomplete or unusable, we can arrange contact with the seller to resolve the matter.  If this is unsatisfactory, we have a feedback system in place which gives you an opportunity to leave comments and complaints in a publicly viewable forum attached to the seller's account.  If a seller becomes a problem and repeatedly receives negative feedback, this will constitute a violation of the seller agreement and will result in expulsion from HSA and all associated privileges.  </dd>
        <dd>That said, we are committed to your satisfaction. If something is not right, we will do our utmost to make it so.</dd>
        </div>
        
        <dt><%= link_to_function "What does 'ppd' mean?", "$('ppd').toggle()"%></dt>
          <div id="ppd" class="faq_answer" style="display:none;">
        
        <dd>The abbreviation 'ppd' on all product listings means 'postage paid' and is there as a reminder that all products are priced to include shipping costs.  </dd>
        </div>

        <dt><%= link_to_function "I see that the product form lists media mail shipping.  Do I have to use media mail?", "$('media_mail').toggle()"%></dt>
          <div id="media_mail" class="faq_answer" style="display:none;">
        <dd>No, media mail is a low-cost method that allows tracking and delivery confirmation.  If the shipping option you choose is less expensive, but doesn't provide tracking information, you may use this method understanding that your funds will be held longer to ensure receipt of the product.  </dd>
        </div>

        <dt><%= link_to_function "Do you allow international transactions?", "$('international').toggle()"%></dt>
          <div id="international" class="faq_answer" style="display:none;">
        <dd>At this time, the transactions that require international shipping would have to be negotiated on the purchase price between the buyer and the seller.  This would require communication which we can facilitate.</dd>
        </div>
        
        <dt><%= link_to_function "How can you give away all of these features for so little?", "$('how').toggle()"%></dt>
          <div id="how" class="faq_answer" style="display:none;">
        <dd>We are homeschoolers ourselves, and we built this site so we would have a place to sell the curriculum we are finished with. But a site without visitors is not going to be of much use to anyone. By giving away all of our features for practically nothing, we hope to be a blessing to the community, as well as being able to sell our stuff when the time comes. It is a win-win for everyone.</dd>
        </div>
    </dl>
  </div>
</div>

