<% show ||= false %>
<% product ||= @product %>
<div class="featured left">
<%= lightbox_to(product.med_image_url, product.full_image_url, "#{h(product.title)}", "product") %>
<% if show %>
  <p class="product_price"><%= product.offer_price.format %></p>
<% else %>
  <p><%= link_to_remote(render_price(product.offer_price), :url => product_line_items_url(product), :html => {:class => "product_price"} )%></p>
  <p class="details button"><%= link_to_remote("Add to Cart", :url => product_line_items_url(product)) %></p>
<% end %>
</div>
<div class="form">
<p>ISBN Number: <%=product.isbn %> </p>
<p>
   <%= "Published by: #{link_to h(product.publisher_name), search_path(:q => product.publisher_name)}<br/>" unless product.publisher_name.blank? %>
  <%= "Written by: #{link_to h(product.author), search_path(:q => product.author)}<br/>" unless product.author.blank?%>
  Format: <%= product.item_format.name %><br/>
  Condition: <%= product.condition.description %> 
  <% unless product.condition_comments.blank? %>
    <p class="details">Comments about condition: <%= product.condition_comments%></p>
  <% end %>
</p>
<p>Posted <%= time_ago_in_words(product.created_at) %> ago in <%= product.categories.collect {|pc| link_to(pc.name, category_path(pc))}.to_sentence %></p>
<% if product.nonsmoking_home? || product.no_pets_in_home? %>
  <p><%= "Non-smoking home." if product.nonsmoking_home %> <%= "No pets in home." if product.no_pets_in_home %></p>
<% end %>
<p>Ships in <%= product.seller.shipping_term.name %></p>
<div class="clear_fix product_description"><%= textilize(product.description) %></div>
</div>
